.slider {width:30%;float:left;}
.form_content {width:69%;float:right;}
.csmegamenu.table tr td{padding:8px 6px !important;}
.csmegamenu.table a.upper {text-transform:uppercase;}
.tableDnDOption1 b {cursor:pointer;}